Source: kdebase
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), quilt, cmake (>= 2.4.5),
 kdepimlibs5-dev (>= 4:4.0.82), libphonon-dev (>= 4:4.2~), libplasma-dev (>= 4:4.0.82),
 libqimageblitz-dev (>= 1:0.0.4-2), libsmbclient-dev, libusb-dev, libxkbfile-dev,
 libraw1394-dev, libstreamanalyzer-dev, libxrender-dev, zlib1g-dev, libglu1-mesa-dev,
 libpci-dev, libxt-dev, libxext-dev, pkg-config, libglib2.0-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdebase
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdebase

Package: kdebase
Section: kde
Architecture: all
Depends: dolphin (>= ${source:Version}), kappfinder (>= ${source:Version}),
 kdebase-bin (>= ${source:Version}), kdepasswd (>= ${source:Version}),
 kfind (>= ${source:Version}), konqueror-nsplugins (>= ${source:Version}),
 konqueror (>= ${source:Version}), konsole (>= ${source:Version}),
 kwrite (>= ${source:Version}), libkonq5 (>= ${source:Version}),
 kdebase-plasma (>= ${source:Version})
Description: base applications from the official KDE release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This package provides core applications for the KDE 4 desktop.

Package: dolphin
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: file manager for KDE 4
 Dolphin is the default KDE 4 file manager, intended to be both powerful and
 easy to use.
 .
 Features include:
   Customisable sidebars
   "Breadcrumb" navigation
   View properties remembered for each folder
   Split views
   Network transparency
   Undo/redo functionality
   Ratings, comments, and tags
 .
 This package is part of the KDE 4 base applications module.

Package: kappfinder
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: non-KDE application finder for KDE 4
 KAppfinder searches your system for common applications and creates entries
 for them in the KDE 4 menu.
 .
 This package is part of the KDE 4 base applications module.

Package: kdebase-bin
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdebase-data (= ${source:Version})
Conflicts: kdesktop
Description: core binaries for the KDE 4 base module
 This package contains miscellaneous programs needed by other KDE 4
 applications, particularly those in the KDE 4 base module.
 .
 This package is part of the KDE 4 base applications module.

Package: kdebase-data
Section: kde
Architecture: all
Description: shared data files for the KDE 4 base module
 This package contains the architecture-independent shared data files needed
 for a basic KDE 4 desktop installation.
 .
 This package is part of the KDE 4 base applications module.

Package: kdebase-dev
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, dolphin (= ${binary:Version}),
 konqueror (= ${binary:Version}), libkonq5-dev (= ${binary:Version}),
 kdepimlibs5-dev (>= 4:4.0.73), libphonon-dev (>= 4:4.0.73),
 libqimageblitz-dev (>=1:0.0.4-2), libsmbclient-dev, libusb-dev, libxkbfile-dev, libraw1394-dev
Description: development files for the KDE 4 base module
 This package contains development files for building software that uses
 libraries from the KDE 4 base applications module.

Package: kdepasswd
Section: admin
Architecture: any
Depends: ${shlibs:Depends}
Description: password changer for KDE 4
 kdepasswd allows users to change their password, user icon, and other
 information.  A variety of user icons are included.
 .
 This package is part of the KDE 4 base applications module.

Package: kfind
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: file search utility for KDE 4
 KFind can be used to find files and directories on your system.
 .
 This package is part of the KDE 4 base applications module.

Package: kinfocenter
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: kcontrol
Replaces: kdebase-bin (<< 4:4.0.0-1)
Description: system information viewer for KDE 4
 KInfoCenter provides you with a graphical overview of various aspects of your
 system, such as memory usage, storage capacity, and attached devices.
 .
 This package is part of the KDE 4 base applications module.

Package: konqueror
Section: kde
Architecture: any
Provides: info-browser, man-browser, www-browser
Depends: ${shlibs:Depends},  kdebase-data (>= ${source:Version})
Recommends: konqueror-nsplugins (= ${binary:Version})
Description: KDE 4's advanced file manager, web browser and document viewer
 Konqueror is the KDE web browser and advanced file manager.
 .
 Konqueror is a standards-compliant web browser, supporting HTML 4.01, Java,
 JavaScript, CSS3, and Netscape plugins such as Flash.
 .
 It supports advanced file management on local UNIX filesystems, with flexible
 views, network transparency, and embedded file viewing.
 .
 It is the canvas for many KDE technologies, from remote file access via KIO to
 component embedding via the KParts object interface, making it one of the most
 customizable applications available.
 .
 This package is part of the KDE 4 base applications module.

Package: konqueror-nsplugins
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: Netscape plugin support for Konqueror
 This package enables Konqueror to use Netscape plugins, such as Flash.
 .
 This package is part of the KDE 4 base applications module.

Package: konsole
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Provides: x-terminal-emulator
Description: X terminal emulator for KDE 4
 Konsole is the KDE 4 terminal emulator. It can contain multiple terminal
 sessions inside one window using detachable tabs.
 .
 Konsole supports powerful terminal features, such as customizable schemes,
 saved sessions, and output monitoring.
 .
 This package is part of the KDE 4 base applications module.

Package: kwrite
Section: editors
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kate (<< 4:4.0.0-1)
Conflicts: kate (<< 4:4.0.0-1)
Description: text editor for KDE 4
 KWrite is the KDE 4 simple text editor. It uses the Kate editor component, so
 it supports powerful features such as flexible syntax highlighting, automatic
 indentation, and numerous other text tools.
 .
 This package is part of the KDE 4 base applications module.

Package: libkonq5
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, libkonq5-templates | kdesktop
Description: core libraries for Konqueror
 This package contains libraries used by several KDE 4 applications,
 particularly Konqueror.
 .
 This package is part of the KDE 4 base applications module.

Package: libkonq5-templates
Section: kde
Architecture: all
Conflicts: kdesktop
Description: data files for the Konqueror libraries
 This package contains data files used by the Konqueror libraries.
 These files are also provided by the 'kdesktop' package from KDE 3.
 .
 This package is part of the KDE 4 base applications module.

Package: libkonq5-dev
Section: libdevel
Architecture: any
Depends: libkonq5 (= ${binary:Version}), kdelibs5-dev (>= 4:4.0.73)
Description: development files for the Konqueror libraries
 This package contains development files for building software that uses the
 Konqueror libraries.
 .
 This package is part of the KDE 4 base applications module.

Package: kdebase-plasma
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libplasma2 (<< 4:4.0.82)
Description: plasma widgets from the KDE 4 base applications module.
 This package contains plasma applets (also known as widgets or plasmoids)
 included in the KDE 4 base applications module. Currently, the following
 plasmoids are provided:
   - Folder View
 .
 This package is part of the KDE 4 base applications module.

Package: kdebase-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg
Suggests: kdebase (= ${source:Version})
Description: debugging symbols for the KDE 4 base applications module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 base applications module.
