Source: kdebase
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fboudra@free.fr>, Armin Berres <trigger+debian@space-based.de>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, kdepimlibs5-dev (>= 3.96.0),
 libqimageblitz-dev, libsmbclient-dev, libusb-dev, libxkbfile-dev
Standards-Version: 3.7.2

Package: kdebase
Section: kde
Architecture: all
Depends: dolphin (>= ${binary:Version}), kappfinder (>= ${binary:Version}), 
 kdebase-bin (>= ${binary:Version}), kdebase-data (>= ${binary:Version}), 
 kdebase-kio-plugins (>= ${binary:Version}), kdepasswd (>= ${binary:Version}), 
 kfind (>= ${binary:Version}), knetattach (>= ${binary:Version}),
 konqueror-nsplugins (>= ${binary:Version}), konqueror (>= ${binary:Version}),
 konsole (>= ${binary:Version}), kwrite (>= ${binary:Version}),
 libkonq5 (>= ${binary:Version})
Recommends: kdm (>= ${binary:Version})
Description: base components from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.

Package: dolphin
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: file manager for KDE focusing on usability
 Dolphin is the default file manager for KDE focusing on usability.
 .
 Features include:
  Sidebar
  Navigation bar (breadcrumbs)
  View properties remembered for each folder
  Split views
  Network transparency
  Undo/redo functionality
  Renaming of a variable number of selected items in one step.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kappfinder
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: xine-ui
Description: non-KDE application finder for KDE
 kappfinder searches your workstation for many common applications and creates
 menu entries for them.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdebase-bin
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdebase-data (= ${binary:Version})
Description: core binaries for the KDE base module
 This package contains miscellaneous programs needed by other KDE applications,
 particularly those in the KDE base module.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdebase-data
Section: kde
Architecture: all
Depends: kde-icons-oxygen (>= ${source:Version})
Description: shared data files for the KDE base module
 This package contains the architecture-independent shared data files needed
 for a basic KDE desktop installation.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdebase-dev
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdebase (= ${binary:Version}), kdepimlibs5-dev (>= 3.96.0),
 libqimageblitz-dev, libsmbclient-dev, libusb-dev, libxkbfile-dev
Description: development files for the KDE base module
 This package contains headers and other development files needed to compile
 software based on the KDE base module.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdebase-kio-plugins
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: core I/O slaves for KDE
 This package includes the base kioslaves. They include, amongst many others,
 file, http, ftp, smtp, pop and imap.
 .
 It also includes the media kioslave, which handles removable devices, and
 which works best with hal (and therefore udev) and pmount. Media also extends
 the functionality of many other kioslaves. To use this service, please make
 sure that your user is a member of the plugdev group.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdepasswd
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: password changer for KDE
 This is a simple application which allows users to change their system
 passwords.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kfind
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: file-find utility for KDE
 kfind can be used to find files and directories on your workstations.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: knetattach
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE network wizard
 KNetAttach is an application which makes it easier to integrate your network
 resources with your KDE Desktop.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: konqueror
Section: kde
Architecture: any
Provides: info-browser, man-browser, www-browser
Depends: ${shlibs:Depends},  kdebase-data (>= ${binary:Version})
Description: KDE's advanced file manager, web browser and document viewer
 Konqueror is a file manager and a web browser for the K Desktop Environment.
 .
 It supports basic file management on local UNIX filesystems, from simple
 cut/copy and paste operations to advanced remote and local network file
 browsing.
 .
 It is also the canvas for all the latest KDE technology, from KIO slaves
 (which provide mechanisms for file access) to component embedding via the
 KParts object interface, and it is one of the most customizable applications
 available.
 .
 Konqueror is an Open Source web browser with HTML4.0 compliance, supporting
 Java applets, JavaScript, CSS1 and (partially) CSS2, as well as Netscape
 plugins (for example, Flash or RealVideo plugins).
 .
 It is a universal viewing application, capable of embedding read-only viewing
 components in itself to view documents without ever launching another
 application.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.
 .
  Homepage: http://konqueror.kde.org

Package: konqueror-nsplugins
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: Netscape plugin support for Konqueror
 This package includes support for Netscape plugins in Konqueror.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: konsole
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Provides: x-terminal-emulator
Description: X terminal emulator for KDE
 Konsole is an X terminal emulation which provides a command-line interface
 (CLI) while using the graphical K Desktop Environment. Konsole helps to better
 organize user's desktop by containing multiple sessions in a single window
 (a less cluttered desktop).
 .
 Its advanced features include a simple configuration and the ability to use
 multiple terminal shells in a single window
 .
 Using Konsole, a user can open:
 .
  Linux console sessions
  Midnight Commander file manager sessions
  Shell sessions
  Root consoles sessions
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kwrite
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: text editor for KDE
 KWrite is more than a text editor for the KDE Desktop. It is meant to be a
 programmer's editor, and could be considered as at least a partial alternative
 to more powerful editors. It may be best used in conjunction with Konqueror
 for source file browsing for different languages. KWrite also works very well
 as a simple text editor. One of KWrite's main features is the colorized
 syntax, customized for many different programming languages.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.


Package: libkonq5
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: core libraries for Konqueror
 These libraries are used by several KDE applications, most notably Konqueror
 and the kdesktop package.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: libkonq5-dev
Section: libdevel
Architecture: any
Depends: libkonq5 (= ${binary:Version}), kdelibs5-dev (= ${binary:Version})
Description: development files for Konqueror's core libraries
 This package contains headers and other development files for the core
 Konqueror libraries.
 .
 This package is part of KDE, and a component of the KDE base module.
 See the 'kde' and 'kdebase' packages for more information.

Package: kdebase-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase (= ${binary:Version}), kdepimlibs-dbg
Description: debugging symbols for kdebase
 This package contains the debugging symbols associated with kdebase.
 They will automatically be used by gdb for debugging kdebase-related
 issues.
